obj/Debug/
obj/project.assets.json
obj/spell check.csproj.nuget.cache
obj/spell check.csproj.nuget.g.props
obj/spell check.csproj.nuget.g.targets
bin/Debug/netcoreapp2.0/spell check.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/spell check.dll
bin/Debug/netcoreapp2.0/spell check.pdb
bin/Debug/netcoreapp2.0/spell check.deps.json
bin/Debug/netcoreapp2.0/spell check.runtimeconfig.json
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csproj.FileListAbsolute.txt
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.AssemblyInfoInputs.cache
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csproj.CoreCompileInputs.cache
AutoComplete/obj/AutoComplete.csproj.nuget.g.props
AutoComplete/obj/AutoComplete.csproj.nuget.cache
AutoComplete/obj/AutoComplete.csproj.nuget.g.targets
AutoComplete/obj/project.assets.json
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.AssemblyInfo.cs
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csprojResolveAssemblyReference.cache
SpellCheckLibrary/obj/SpellCheckLibrary.csproj.nuget.cache
SpellCheckLibrary/obj/SpellCheckLibrary.csproj.nuget.g.props
AutoComplete/bin/Debug/netcoreapp2.0/AutoComplete.dll
AutoComplete/bin/Debug/netcoreapp2.0/AutoComplete.pdb
AutoComplete/bin/Debug/netcoreapp2.0/AutoComplete.deps.json
AutoComplete/bin/Debug/netcoreapp2.0/AutoComplete.runtimeconfig.json
AutoComplete/bin/Debug/netcoreapp2.0/AutoComplete.runtimeconfig.dev.json
AutoComplete/bin/Debug/netcoreapp2.0/SpellCheckLibrary.dll
AutoComplete/bin/Debug/netcoreapp2.0/SpellCheckLibrary.pdb
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.dll
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.pdb
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csproj.CopyComplete
SpellCheckLibrary/bin/Debug/netcoreapp2.0/SpellCheckLibrary.dll
SpellCheckLibrary/bin/Debug/netcoreapp2.0/SpellCheckLibrary.pdb
SpellCheckLibrary/bin/Debug/netcoreapp2.0/SpellCheckLibrary.deps.json
SpellCheckLibrary/obj/SpellCheckLibrary.csproj.nuget.g.targets
SpellCheckLibrary/obj/project.assets.json
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.dll
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.pdb
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.AssemblyInfo.cs
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.AssemblyInfoInputs.cache
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.csproj.CoreCompileInputs.cache
SpellCheckLibrary/obj/Debug/netcoreapp2.0/SpellCheckLibrary.csproj.FileListAbsolute.txt
