obj/Debug/
obj/project.assets.json
obj/spell check.csproj.nuget.cache
obj/spell check.csproj.nuget.g.props
obj/spell check.csproj.nuget.g.targets
bin/Debug/netcoreapp2.0/spell check.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/spell check.dll
bin/Debug/netcoreapp2.0/spell check.pdb
bin/Debug/netcoreapp2.0/spell check.deps.json
bin/Debug/netcoreapp2.0/spell check.runtimeconfig.json
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csproj.FileListAbsolute.txt
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.AssemblyInfoInputs.cache
AutoComplete/obj/Debug/netcoreapp2.0/AutoComplete.csproj.CoreCompileInputs.cache
